<div class="container-fluid" style="background: gainsboro" ng-controller="SharedPriceCtrl">
    <div class="jumbotron" style="background: #3c3c3c1c;%">

        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-3" style="margin-bottom: 5%">
                        <label>Ticker symbol</label><br>

                        <select name="symbol" ng-model="symbol" style="width: 100%">
                            <option value="">Select Symbol</option>
                            <option ng-repeat="option in sharedPriceList">{{option}}</option>
                        </select>

                        <div style="margin-top: 2%">
                            <button type="button" class="btn btn-primary"
                                    style="background-color: #F73E3E; font-weight: bold"
                                    ng-click="getApi()">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 2%">
            <a style="color: #3c3c3c; text-align: right;float:right; margin-top: 2%" href="/list">View stock price list></a>
        </div>

    </div>
</div>
