<div class="container-fluid" style="background: gainsboro" ng-controller="SharedPriceCtrl">
    <div class="jumbotron" style="background: #3c3c3c1c;%">

        <div style="margin-bottom: 2%">
            <a href="/" style="color: black">< Go back</a>
        </div>

        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12" data-ng-init="getPriceList()">
                    <div class="invoice">
                        <div class="row">
                            <div class="col-md-12">
                                <div ui-grid="priceGridOptions" ui-grid-pagination ui-grid-move-columns
                                     class="grid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
